* {
    margin: 0;
    padding: 0;
}

#left .basel a {
    color: #09ceb2;
}

.base {
    background: url(../../images/nsj.png) no-repeat;
}

.inner {
    height: auto;
    overflow: hidden;
}

.inner span {
    text-align-last: justify;
    margin-right: 10px;
}

.inner input,
.inner select,
.file_photo {
    background: #f4f4f4;
    outline: medium;
}

.inner option,
.inner select {
    color: #333333;
    font-size: 14px;
}

.list {
    list-style: none;
    float: left;
    margin-top: 43px;
    margin-left: 60px;
}

.list li {
    width: 407px;
    margin-bottom: 30px;
}

.list li span {
    display: inline-block;
    width: 71px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666666;
}

.list li input,
.list li label {
    display: inline-block;
    width: 301px;
    height: 30px;
    border: 1px solid #ddd;
    outline: medium;
}
.list li input:focus,.add input:focus{
    background: white;
}
.list li label select {
    width: 301px;
    height: 30px;
    outline: medium;
}

.list .photograph {
    margin-top: 37px;
    height: 242px;
    line-height: 203px;
}
.inner_photo{
    width: 114px;
    margin: 0 auto;
    margin-top: 10px;
}

.file_photo {
    position: relative;
    display: inline-block;
    width: 114px;
    height:114px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.file_photo>span {
    position: absolute;
    top: 40%;
    left: 32%;
    color: #999999 !important;
}

.list .photograph>span {
    position: relative;
    top: -50%;
}

.file_photo input {
    height: 114px;
    width: 114px;
    opacity: 0;
    position: absolute;
    z-index: 9;
}

.inner_1:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.list li:last-child {
    margin-bottom: 18px;
}

.add {
    height: 30px;
    margin-left: 60px;
    margin-bottom: 70px;
}

.add input {
    width: 771px;
    height: 30px;
    border: 1px solid #ddd;
}

.add span {
    display: inline-block;
    width: 71px;
    height: 30px;
    font-size: 14px;
    color: #666666;
}

#button {
    width: 160px;
    height: 40px;
    color: white;
    background: #38d46c;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 70px;
    margin-left: 434px;
    cursor: pointer;
    outline: medium;
}


.cur {
    cursor: pointer;
    display: block;
    color: #788F72;
    width: 303px;
    height: 22px;
    line-height: 22px;
    padding: 0px 0px 0px 2px;
}

.am {
    border: 0px;
    color: #788F72;
    cursor: pointer;
    border: 1px #ccc solid;
    display: block;
    cursor: pointer;
    width: 73px;
    height: 19px;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 2px;
    padding-left: 10px;
}

.bm {
    border: 1px #999999 solid;
    width: 301px;
    margin-left: 10px;
    position: absolute;
    z-index: 9;
    background: white;
}
#HMF-1 span,#HMF-2 span,#HMF-3 span{
    display: block;
    width: 291px;
    text-align-last: left;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    padding-left:10px ;
}
.ng-pristine{
    width: 301px;
    display: inline-block;
    margin-left: -11px;
}
.icon-6{
    position: absolute;
    right: 0;
    top: 8px;
    color:#666666;
}
.form{
    position: relative;
}
