/*首页*/
.inner-index{
    min-height: 1000px;
    width: 990px;
    margin-top: 5px;
}
.index-1,.index-2,.index-3{
    float: left;
    width: 322px;
    height: auto;
}.index-2,.index-3{
     margin-left: 10px;
 }
.index-1 .index-1-t, .index-3 .index-1-t {
    letter-spacing:5px;
}
.index-1-t{
    font-weight: bold;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    color: white;
    width: 321px;
    height: 52px;
    background: url("../images/bmg.png");
}

.index-1-b{
    width: 228px;
    height: auto;
    box-shadow: 0 1px 1px 0 #ccc;
    border-top: 0;
    margin-left: 45px;
}
.index-img{
    position: relative;
    top: -11px;
    left: 145px;
}
.inner-index ul li a{
    color: #333;
}
.inner-index ul li a:hover{
    color: #33d473;
}
.inner-index ul li a{
    display: block;
    background: white;
    width: 228px;
    height: 30px;
}
.inner-index ul li{
    font-size: 14px;
    color: #333;
    line-height: 30px;
    text-align: center;
    width: 228px;
    height: 30px;
}
.index-1-b ul .li1-1{
    display: none;
    position: relative;
    left: -229px;
    top: -28px;
}
.index-1-b ul .li1:hover   .li1-1{
    display: block;
}
